body{
  background-image: url('../img/bg.jpg');
  background-position: center;
  color: white;
}
img{
  max-width: 100%;
}
.col-cx{
  padding: 0;
  height: 80px;
}

.logo{
  background-color: rgba(255, 255, 255, 0.747);
}

.logo img{
  width: 300px;
}

.label-cx{
  margin: 0 10px;
  min-width: 95px;
}

.task-input{
  width: 60%;
  min-width: 300px;
}

.input-cx{
  width: 50%;
  min-width: 30%;
}

.btn-cx{
  line-height: 10px;
  margin:0 10px;
}

.task{
  margin-right: 30px;
}

.task span, .task i{
  cursor: pointer;
}

.done{
  text-decoration: line-through;
}

.task i{
  line-height: 30px;
  padding-left: 10px;
}