<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- FONTAWESOME -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css' integrity='sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==' crossorigin='anonymous'/>
  <!-- BOOTSTRAP -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/css/bootstrap.min.css' integrity='sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==' crossorigin='anonymous'/>
  <!-- CSS -->
  <link rel="stylesheet" href="css/style.css">
  <!-- SCRIPT -->
  <script src="js/app.js" defer></script>
  <!-- VUE -->
  <script src="https://unpkg.com/vue@3"></script>
  
  <title>Vue todo</title>

</head>
<body>
  
  <div id="app" class="container-fluid text-center">

    <!-- LOGO -->
    <div class="row">
      <div class="col col-cx">

        <div class="logo d-flex justify-content-center align-items-center h-100">
          <img src="/img/logo.png" alt="logo.png">
        </div>

      </div>
    </div>

    <!-- INPUT AREA -->
    <div class="row">
      <div class="col d-flex justify-content-center pt-3">

        <div class="task-input d-flex justify-content-center h-75 bg-dark rounded-5 p-2">
          <label for="input" class="label-cx text-white fw-bold">Inserisci qui:</label>
          <input v-model.trim="newTask"
          @keyup.enter="addNewTask()"
          type="text" class="input-cx form-control rounded-pill" placeholder="NewTask">
          <button @click="addNewTask()" type="button" class="btn btn-light btn-sm rounded-pill btn-cx">Aggiungi</button>
        </div>

      </div>
        
      <p class="text-danger fw-bold bg-white">{{errorMsg}}</p>

    </div>

    <!-- TODO LIST -->
    <div class="row">
      <div class="col d-flex justify-content-center">

        <div class="task-area bg-dark rounded-5 w-75">
          <ul v-if="tasks.length > 0">
            <li v-for="(task, index) in tasks"
            class="task text-white list-unstyled d-flex justify-content-between border-bottom p-2 my-3">
              <span @click="task.done = !task.done"
              :class="{'done': task.done === true}">
                {{task.text}}
              </span>
              <!-- <span class="badge badge-cx bg-primary rounded-circle">1</span> -->
              <i @click.stop="removeTask(index)"
              class="fa-solid fa-trash text-white"></i>
            </li>
          </ul>
          
          <h3 v-else class="px-5 py-3">Hai completato tutte le Task! &#128526;</h3>
          <!-- <p>Task da effetuare: </p> -->

        </div>

      </div>
    </div>

  </div>

</body>
</html>